# World Population Dataset

Source: https://github.com/datasets/population

Raw data

<pre>
Country Name,Country Code,Year,Value
Arab World,ARB,1960,92490932
Arab World,ARB,1961,95044497
Arab World,ARB,1962,97682294
Arab World,ARB,1963,100411076
Arab World,ARB,1964,103239902
Arab World,ARB,1965,106174988
Arab World,ARB,1966,109230593
</pre>

In [1]:
import numpy as np
from numpy.random import randn
import pandas as pd
from scipy import stats
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import datetime

In [2]:
df = pd.read_csv("population-raw.csv")
df.head()

  Country Name Country Code  Year        Value
0   Arab World          ARB  1960   92490932.0
1   Arab World          ARB  1961   95044497.0
2   Arab World          ARB  1962   97682294.0
3   Arab World          ARB  1963  100411076.0
4   Arab World          ARB  1964  103239902.0

In [6]:
# Plotting tentatives
#df.set_index('Year', inplace=True)
#df.groupby('Country Name')['Value'].plot(legend=True)

In [4]:
# Total sum by country
df.groupby('Country Code')['Value'].apply(lambda x: x.sum()).head()

Country Code
ABW      4258605.0
AFG    971305809.0
AGO    757663953.0
ALB    153903806.0
AND      2861706.0
Name: Value, dtype: float64

In [5]:
frames = []
for name, group in df.groupby('Country Code'):
    
    group.is_copy = False
    group['birthValue'] = group['Value'] - group['Value'].shift(1)
    frames.append(group)

result = pd.concat(frames)
result['birthValue'].fillna(0, inplace=True)

/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:4384: FutureWarning: Attribute 'is_copy' is deprecated and will be removed in a future version.
  object.__getattribute__(self, name)
/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:4385: FutureWarning: Attribute 'is_copy' is deprecated and will be removed in a future version.
  return object.__setattr__(self, name, value)

In [ ]:
result.rename(columns={'Value':'populationValue', 'Country Name': 'countryName', 'Country Code': 'countryCode'}, inplace=True)

In [ ]:
result.to_csv("population-data.csv", sep=',', encoding='utf-8', index=False)